<div class="tarjeta m-2 mb-3 " *ngFor="let item of items">

    <div class="row m-0 text-center">
        <div class="col">{{item.ydt }} M<br> <span>YDT</span></div>
        <div class="col">{{item.ydtvsp}} <br> <span>vs Plan</span> </div>
        <div class="col">{{item.ydtvsya}} <br><span>vs YA</span></div>
        <div class="col"> </div>
    </div>
    <hr width="290px">
    <div class="row m-0 text-center">
        <div class="col">{{item.fy}} M<br><span>FY</span></div>
        <div class="col">{{item.fyvsp}}<br><span>vs Plan</span> </div>
        <div class="col">{{item.fyvsya}}<br><span>vs YA</span></div>
        <div class="col">{{item.fyytg}}<br><span>YTG PS</span> </div>
    </div>

</div>